.date-wrapper {
  display: flex;
  justify-content: flex-start;
  position: relative;
  margin-bottom: 25px;

  .datepicker-wrapper {
    margin-right: 15px;
  }

  .react-datepicker__input-container {
    input {
      border: 0.5px solid #b7bfd1;
      color: #979797;
      border-radius: 3px;
      padding: 8px 8px 8px 25px;
    }
  }

  .react-datepicker__input-container::after {
    position: absolute;
    display: block;
    content: "";
    height: 15px;
    width: 15px;
    background-image: url("../../static/images/calendar.png");
    top: 10px;
    left: 7px;
  }
}

.ui.modal {
  padding: 0;
}
